/target
Cargo.lock
uci.sh
start_lichess_bot.sh
.cargo/
src_old
komodo.bin
nn-37f18f62d772.nnue
Perfect2023.bin
Polyglot book format.html
ProDeo.bin
start_lichess_bot_turbo.sh
z-slon-old
z-slon-old-start